header {
    min-height: 100px;
    z-index: 100;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .9)), url('images/header.png') center center no-repeat;
    background-size: cover;

  }

  .navbar {
    background-color: black;

    .custom-carousel-control-prev-icon,
    .custom-carousel-control-next-icon {
      width: 2em;
      height: 2em;
    }

  }
  .submenu {
    display: none; /* Hide the submenu by default */
    position: absolute;
    background-color: #9b8e8e; /* Set the background color */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Add a box shadow for a nice effect */
  }
  
  .nav-item:hover .submenu {
    display: block; /* Show the submenu when the parent item is hovered */
  }
  
  .nav-item:hover .submenu a {
    display: block; /* Ensure submenu links are visible when the parent item is hovered */
    color: #333; /* Set the text color for submenu links */
  }